body {
    background-color: white;
    color: black;
    font-family: 'Syne Mono', monospace;
    font-size: 19px;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

main {
	width: 100vw;
  padding: 0px 0px;
  margin: 25px 0px 25px; 
  box-sizing: border-box;
}
    
header {
  background-color: white;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.header-img {
  width: 100%;
  height: 550px;
  background: url("https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Halloween-PNG-Pictures/Dripping_Blood_Decor_Transparent_PNG_Clip_Art_Image.png?m=1507172109");
  background-size: cover;
  margin: 0px;
}

footer {
  background-color: black;
  text-align: center;
  position: absolute;
  
  width: 100%;
  margin: 0px;
  padding: 10px;  
}

article {
	position: relative;
	width: 100%;  
	margin: 0px;
	padding: 10px 10px; 
	box-sizing: border-box;  
}

div {
  margin: 5px;
	padding: 10px ;  
}

div.container {
  position: relative;
  width: 100%;
  background-color:  black;
  border: 10px solid white;
}

div.box {
  border: 3px solid black;
  width: 100%;
  padding: 20%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 5px 0px;
}

a:link {
  color: black;
}

a:visited {
  color: gray;
}

a:hover {
  color: red;
}

a:active {
  color:rgba(255, 0, 0, 0.425);
}

p {
  color: grey;
  font-size: 22px;
}

h1 {
  text-align: center;
  font-size: 88px;
  letter-spacing: 2px;
  word-spacing: 5px;
  vertical-align: baseline;
  font-family: 'Butcherman', cursive;
}

h2 {
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: bold
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 66px;
  color: white;
 }

 #label {
   position: absolute;
 }

#fancy {
  color: rgb(170, 21, 21);
  font-size: 88px;
  text-shadow: 2px 2px 5px rgb(48, 47, 47);
}

#email {
  font-size: 22px;
  color: darkcyan;
  font-weight: bolder;
}

#surprise {
  background-image: url(images\bdaysurprise.jpg);
}

#surprise :hover {
  background-image: url(images\straycat.JPG);
}

img {
  height:300px;
  width: auto;
  object-fit: scale-down;
}


.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}

.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}

.caption {
  font-size: 15px;
  text-align: center;
  line-height: 2em;
}

.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}

.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}

.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}


span {
  display: block;
  width: 100vw;
  
  
}

#container {
  width: 600px;
  margin: 40px auto;
}

ul.gallery li  {
  
	float: left;
	padding: 10px 10px 25px 10px;
	background: #eee;
	border: 1px solid #fff;
}

.row {
  display: flex;
  text-align: center;
}

.column {
  flex: 33.33%;
  padding: 2px;
}
